.navigation-bar{
  background-color: #4f5d61;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.cssbutton{
  background-color: #4f5d61;
  border: none;
  color: white;
}

.navbar-brand{
  color : white;
  font-size: 30px;
  margin-left: 50px;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 50px;
}

.nav-item{
  color : white;

  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav:hover{
  color: blue;
}
